* {margin: 0; padding: 0; }
body {
	background: url(https://www.walldevil.com/wallpapers/a77/wallpaper-abstract-background-backgrounds-gradient.jpg)center no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
	background-attachment: fixed;
	max-height: 3000px;
	letter-spacing: 2px !important;
}
.navbar {
	background: transparent;
	border-radius: 0px;
	border:none;
}
.navbar > .container-fluid > .navbar-header > a {
	color: #d1c7dd !important;
}
.nav > li > a {
	color: white !important;
}
.nav > li > a:hover {
	border-bottom: 1px solid white;
}
.custom-containers {
	width: 100%;
	height: 100%;
	top: 0px;
	position: absolute;
	text-align: center;
	color: #1389d3;
	border: 1px white solid;
	box-shadow: 0 0 50px black;
	padding-top: 130px;
}
#section1 {
	text-shadow: 1px 1px 1px black;
	display: none;
}
#section2 {
	display: none;
}
#section3 {
	display: none;
}
.social-container {
	bottom: 10px;
	right: 10px;
	position: absolute;
	text-align: right;
	height: 70px;
	background: rgba(0, 0, 0, 0);
	margin-bottom: 10px;
}
.social-icons {
	color: black !important;
	background: white;
	border-radius: 100%;
	border: 2px solid black;
	padding: 10px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.46);
}
.btn {
	width: 80px;
	height: 30px;
	text-align: center;
	border-radius: 100%;
}
.social-icons:hover {
	transition: all 0.3s;
	background: #14ef1c;
	transform: translateY(-10px);
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.48);
}
.mail-btn-all {
	margin: auto;
	text-align: center;
	width: 250px;
	height: 60px;
	line-height: 60px;
	bottom: 10px;
	left: 10px;
	position: absolute;
	background: #2f3433;
	border-radius: 5px;
	font-weight: 800;
	letter-spacing: 2px;
	cursor: pointer;
	color: #188aed;
	text-decoration: none !important;
	border: 1px solid;
	box-shadow: 0 2px 1px black;
	text-shadow: 0 0 1px black;
	transition: all .3s;
	float: left;
	font-size:25px;
	animation:breathing linear 5s infinite;
}
.mail-btn-all:hover {
	background: #48645e;
	color: #ff8b8b;
	text-decoration: none !important;
	transform: translateY(-20px);
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.48);
}
h2 {
	font-size: 2.7em;
  font-weight: normal;
	padding: 10px 0 16px 0;
  margin: 0 0 30px;
	text-align:center;
	color:#2187e7;
  text-shadow: 1px 1px 5px #000, 0 0 10px #2187e7, 0 0 20px #2187e7;
  background:#000;
	border-radius:2px;
	border: 1px solid #2187e7;  
  box-shadow: 0px 0px 50px -8px #2187e7;
}
h2.programas {
  border: 1px solid #FF4500;  
  box-shadow: 0px 0px 50px -8px #FF4500;
  color: #FF4500;
  text-shadow: 1px 1px 5px #000, 0 0 10px #FF4500, 0 0 20px #FF4500;
}
.container {
	width: 90%;
  padding:5%;
	margin: 0 auto; 
	overflow: hidden;
}
.col {
	width: 23%;
  margin: 0 5%;
  position: relative;
  float: left;
  font-size: 12px;
  line-height: 2em;
  padding: 5% 0;
} 
/*.col { width:101%; }*/
.skill { 
	list-style:none; 
	padding-top:30px;
}
.skill li { 
	margin-bottom:70px; 
	background:#030303; 
	height:6px; 
	border-radius:3px; 
	border-left:1px solid #111; 
	border-top:1px solid #111; 
	border-right:1px solid #333; 
	border-bottom:1px solid #333;  
}
.skill li em { 
	position:relative; 
  font-style: normal;
  font-size: 14px;
  text-align: center;
  color:#080808;
	top:-28px;
}
.blueline { 
	height: 3px; 
	margin: 2px 0; 
	background: #ea4a0f; 
	position: absolute;
	box-shadow: 0px 0px 10px 1px rgba(0,198,255,0.6);
}
.redline { 
	height: 3px; 
	margin: 2px 0; 
	background: #3bff00; 
	position: absolute;
	box-shadow: 0px 0px 10px 1px rgba(255, 69, 0,0.4);
}
.titulo      { opacity:1;  animation:titulo 5s ease-out;     }
/*programacion*/
.html        { width:90%;  animation:html 2s ease-out;       }
.css         { width:95%;  animation:css 2s ease-out;        }
.php         { width:70%;  animation:php 2s ease-out;        }
.javascript  { width:50%;  animation:javascript 2s ease-out; }
.jquery      { width:30%;  animation:jquery 2s ease-out;     }
/*programas*/
.illustrator { width:30%;  animation:illustrator 2s ease-out;}
.photoshop   { width:70%;  animation:photoshop 2s ease-out;  }
@keyframes titulo      { 0% { opacity:0; } 100% { opacity:1; }  }
/*programacion*/
@keyframes html        { 0% { width:0px; } 100% { width:90%; }  }
@keyframes css         { 0% { width:0px; } 100% { width:95%; }  }
@keyframes php         { 0% { width:0px; } 100% { width:10%; }  }
@keyframes javascript  { 0% { width:0px; } 100% { width:50%; }  }
@keyframes jquery      { 0% { width:0px; } 100% { width:30%; }  }
/*programas*/
@keyframes illustrator { 0% { width:0px; } 100% { width:30%; }  }
@keyframes photoshop   { 0% { width:0px; } 100% { width:70%; }  }
/*media queries*/
@media (max-width: 1200px){
  h2 {font-size:2.2em;}
}
@media (max-width: 980px){
  h2 {font-size:1.8em;}
}
@media (max-width: 767px){
  h2 {font-size:1.4em;}
}
@media (max-width: 580px){
  h2 {font-size:1.1em; padding:10px 0;}
}
@media (max-width: 480px){ 
  h2 {font-size:2.2em; padding: 10px 0 15px 0;}
  .col {width: 90%;}
}